html, body, head, div, ul, li, a, p, br, h1, h2, h3, h4, h5 { 
    margin: 0px; padding: 0px; 
}




.btn:focus { 
    outline: none; 
}


.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{
    -webkit-box-shadow: none;
    outline:0;
    box-shadow: none; 
}


.table { 
    border: 1px solid #ddd; 
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { 
    vertical-align: middle; 
}


.headtext { 
    overflow: hidden; 
    margin-bottom: 20px; 
}


.headtext h1 { 
    font-weight: bold; 
    float: left; 
}

.headtext button { 
    float: right; 
    vertical-align: middle; 
}


.btnproject { 
    margin-bottom: 20px; 
}


.comsoon { 
    overflow: hidden; 
    margin-left: 15%; 
    margin-bottom: 40px; 
}

.comsoon img { 
    float: left; 
    margin-right: 110px; 
}


.comsoon a { 
    font-size: 20px; 
    font-weight: bold;
    line-height: 300px; 
    color: #14458d; 
    text-decoration: none; 
}



.inputedit { 
    width: 70%; 
    margin-top: 12px; 
}



.footer { 
    padding: 15px; 
    border-top: 1px solid rgb(233, 230, 230); 
    color: rgb(39, 39, 39); 
}